node_modules
.git
.gitignore
.env
.env.local
dist
.DS_Store
*.log
.vscode
.idea
*.iml
.github
.husky
mock
README.md
CODE_OF_CONDUCT.md
LICENSE
.pnpm-store
coverage
.npm
.umi
.umi-production
.pnp
.pnp.js
# 测试和临时文件
*.test.ts
*.test.tsx
__tests__
# 构建缓存
.cache
.eslintcache
# 其他
*.md
!README.md
.editorconfig
.prettierrc
.templaterc
